<div class="input-group">
  <input
    id="{{name}}"
    type="{{type}}"
    name="{{name}}"
    value="{{value}}"
    class="input"
    {{#if required}}required{{/if}}
  />
  <label for="{{name}}">{{label}}</label>
</div>
