<main class="container">
  <p><a href="/">← Назад к меню</a></p>
  <div class="card">
    <h1>Регистрация</h1>
    <form id="register-form" class="floating-form">
      {{{emailInput}}}
      {{{loginInput}}}
      {{{firstNameInput}}}
      {{{secondNameInput}}}
      {{{phoneInput}}}
      {{{passwordInput}}}
      {{{confirmPasswordInput}}}
      {{{submitButton}}}
    </form>
    <p><a href="/login.html">Войти</a></p>
  </div>
</main>
