<div>
<p><a href="/">← Назад к меню</a></p>
<div class="profile-page">
  <div class="container">
    <div class="avatar-wrapper">
      <img src="/Avatar.png" alt="User Avatar" class="avatar" id="avatarPreview" />
      <label for="avatarInput" class="avatar-overlay">Поменять </br>аватар</label>
      <input type="file" id="avatarInput" name="avatar" accept="image/*" hidden />
    </div>
  </div>

  <h1>{{displayName}}</h1>
  <ul class="profile-info">
    <li><strong>Почта</strong><p>{{email}}</p></li>
    <li><strong>Логин</strong><p>{{login}}</p></li>
    <li><strong>Имя</strong><p>{{firstName}}</p></li>
    <li><strong>Фамилия</strong><p>{{secondName}}</p></li>
    <li><strong>Имя в чате</strong><p>{{displayName}}</p></li>  
    <li class="last-li"><strong>Телефон</strong><p>{{phone}}</p></li>
  </ul>
  <div class="profile-actions">
    {{{editButton}}}
    {{{passwordButton}}}
    <div class="logout">
      {{{logoutButton}}}
    </div>
  </div>
</div>
</div>
